{% extends 'wrapper.html' %}
{% block content %}


<div class="container mt-5">
<h1>Authors Catalog</h1>
    <p> </p>
    <p> </p>
    <p> </p>
    <a class="btn btn-primary btn-sm" href="{% url 'create_author' %}">Create author</a>
        <p> </p>
    <p> </p>
    <p> </p>
    {% for author in authors %}
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <h2 class="mb-0">{{ author.name }}</h2>
            <h2 class="mb-0">{{ author.patronymic }}</h2>
            <h3 class="mb-0">{{ author.surname }}</h3>
            <a href="{% url 'author_details' author.id %}"  class="btn btn-info">Read more</a>
            <td><a class="btn btn-success" href="{% url 'update_author' author.id %}">Update</a> </td>
            <td><a class="btn btn-danger" href="{% url 'delete_author' author.id %}">Delete</a> </td>
        </div>
    </div>

    {% endfor %}

    {% include 'paginator.html' with data=authors %}
{% endblock content %}